{% load i18n static admin_adminlte %}

<ul
  class="nav nav-pills nav-sidebar flex-column"
  data-widget="treeview"
  role="menu"
  data-accordion="false"
>

  <li class="nav-item">
    <a href="{% url 'index' %}" class="nav-link {% if 'dashboard' in segment %} active {% endif %}">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>Dashboard</p>
    </a>
  </li>

  <li class="nav-item">
    <a href="{% url 'analytics' %}" class="nav-link {% if 'analytics' in segment %} active {% endif %}">
      <i class="nav-icon fas fa-chart-line"></i>
      <p>Analytics</p>
    </a>
  </li>

  {# Show Projects menu only for Team Lead and Staff #}
  {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
          {# Superuser: optional, can also see projects #}
          <li class="nav-item">
              <a href="{% url 'projects:projects' %}" class="nav-link {% if 'projects' in segment %} active {% endif %}">
                  <i class="nav-icon fas fa-folder-open"></i>
                  <p>Projects</p>
              </a>
          </li>
      {% elif request.user.profile.role == 'TEAM_LEAD' or request.user.profile.role == 'STAFF' %}
          <li class="nav-item">
              <a href="{% url 'projects:projects' %}" class="nav-link {% if 'projects' in segment %} active {% endif %}">
                  <i class="nav-icon fas fa-folder-open"></i>
                  <p>Projects</p>
              </a>
          </li>
      {% endif %}
  {% endif %}

  {# Profile and Configuration links #}
  <li class="nav-item">
    <a href="{% url 'profile' %}" class="nav-link {% if 'profile' in segment %} active {% endif %}">
      <i class="nav-icon fas fa-user"></i>
      <p>Profile</p>
    </a>
  </li>

  <li class="nav-item">
    <a href="{% url 'configuration' %}" class="nav-link {% if 'configuration' in segment %} active {% endif %}">
      <i class="nav-icon fas fa-user-cog"></i>
      <p>Configuration</p>
    </a>
  </li>

  {# Logout/Login #}
  {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link">
          <i class="fa fa-sign-out-alt nav-icon"></i>
          <p>Logout</p>
        </a>
      </li>
  {% else %}
      <li class="nav-item">
        <a href="{% url 'login' %}" class="nav-link">
          <i class="fa fa-sign-in-alt nav-icon"></i>
          <p>Login</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'register' %}" class="nav-link">
          <i class="fa fa-user-plus nav-icon"></i>
          <p>Register</p>
        </a>
      </li>
  {% endif %}

</ul>
